@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";
@import "scrollbar";
@import "keyboard";

$primary: #01b763;

html, body {
    overflow: hidden;
}

:root {
    --app-font-size: 16px;
}
  
html, body {
    font-size: var(--app-font-size);
}

html.dark {
    color: white;
    color-scheme: dark;
}

.splitpanes.default-theme .splitpanes__pane{
    background-color: transparent;
}

.has-dragger {
    position: relative;
    .dragger {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 8px;
        cursor: ew-resize;
        &:hover {
            background-color: #3f83f87a;
        }
    }
}

.quantity-control {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 40px;
    padding: 4px;
    button {
        width: 24px;
        height: 24px;
        line-height: 1;
        border-radius: 30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: black;
        svg {
            height: 14px;
            width: 14px;
        }
    }
    input {
        padding: 0;
        text-align: center;
        border: none;
        outline: none;
        box-shadow: none;
        background-color: transparent;
    }
    .text{
        margin: 0 10px;
    }
}

.quantity-control:is(.dark *) {
    background-color: #18202a;
}

.order-item__table{
    width: 100%;
    tr td {
        padding: 10px 0px;
    }
    tr:not(:last-child) td {
        border-bottom: 1px solid #eaeaea;
        @apply dark:border-gray-700;
    }
}


.clickable:active {
    transform: translateY(10px); /* Scale the div when clicked */  
}

.splitpanes.default-theme .splitpanes__splitter {
    @apply dark:bg-gray-700;
    @apply dark:border-gray-700;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
}